<app-navbar></app-navbar>
<div class="electronics-container">
    <ng-container *ngFor="let product of product_array">
        <app-card [product]="product" *ngIf="product?.category === 'electronics'"></app-card>
    </ng-container>
</div>

<div class="electronics-container">
    <ng-container *ngFor="let product of product_array">
        <app-card [product]="product" *ngIf="product?.category === 'jewelery'"></app-card>
    </ng-container>
</div>

<div class="electronics-container">
    <ng-container *ngFor="let product of product_array">
        <app-card [product]="product" *ngIf="product?.category === 'men\'s clothing'"></app-card>
    </ng-container>
</div>

<div class="electronics-container">
    <ng-container *ngFor="let product of product_array">
        <app-card [product]="product" *ngIf="product?.category === 'women\'s clothing'"></app-card>
    </ng-container>
</div>