td form {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0;
}

.cart-card{
    max-width: 400px;
    max-height: 400px;
}

mat-card image{
    width: 100%;
    height: 0%;
}

.button-container{
    display: flex;
    gap: 5px;
}