.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:650px) {
    .loginform mat-form-field {
        width: 100%;
    }
}


.register-btn{
    margin-top: 10px;
}