<app-navbar></app-navbar>
<form (ngSubmit) = 'onSubmit()' [formGroup] = 'profileForm' class="loginform">
    <h2>Register</h2>
    <mat-form-field>
        <mat-label>First Name</mat-label> 
        <input matNativeControl formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matNativeControl formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matNativeControl type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirm_password">
    </mat-form-field>
    <div><input type="checkbox" formControlName = 'terms'> I agree to terms and conditions</div>
    <div>Already have an account ? <a [routerLink]="['/signin']">Signin</a></div>
    <button mat-raised-button type="submit" color="primary" [disabled]="!profileForm?.valid" class="register-btn">Register</button> 
</form>
