.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-content {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul>li{
    color: #666;
}