.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.nav-home {
    margin: 5px;
} 

.menu-btn {
    display: none;
}

.togglestyle{
    display: none;
}

@media (max-width: 860px) {
    .nav-wrapper{
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .nav-wrapper-small{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 30px;
        z-index: 1;    
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-wrapper-small > button {
        width: 100%;
        border-radius: 0%;
    }
    
}
