<mat-toolbar class="navbar" color="primary">
    <div class="nav-title">E-commerce</div>
    <div class="nav-wrapper">
        <button mat-flat-button class="nav-home" color="primary" [routerLink]="['/homepage']">Home</button>
        <button mat-flat-button class="nav-home" color="primary" [routerLink]="['/search']">Search</button>
        <button mat-flat-button class="nav-home" color="primary" [routerLink]="['/cart']" *ngIf="isloggedin.status()">Cart</button>
        <button mat-flat-button class="nav-home" color="primary" [routerLink]="['/login']"
            *ngIf="!isloggedin.status()">Login</button>
        <button mat-flat-button class="nav-home" color="primary" [routerLink]="['/about']">About</button>
    </div>
</mat-toolbar>
